generated/prisma/
generated/prisma/query_engine_bg.js
generated/prisma/runtime/
generated/prisma/runtime/edge-esm.js
generated/prisma/runtime/edge.js
generated/prisma/runtime/index-browser.d.ts
generated/prisma/runtime/index-browser.js
generated/prisma/runtime/library.d.ts
generated/prisma/runtime/library.js
generated/prisma/wasm.js

```plaintext
generated/prisma/
generated/prisma/query_engine_bg.js
generated/prisma/runtime/
generated/prisma/runtime/edge-esm.js
generated/prisma/runtime/edge.js
generated/prisma/runtime/index-browser.d.ts
generated/prisma/runtime/index-browser.js
generated/prisma/runtime/library.d.ts
generated/prisma/runtime/library.js
generated/prisma/wasm.js
```