@import "tailwindcss";


:root {
  --background: #E5E5E3;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* DARK MODE
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #3A5B4F !important;
}

.nav-link-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  position: relative;
}

.nav-link-icon,
#login-dropdown {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.5s ease, opacity 0.5s ease;
}

.nav-link-icon:hover,
.nav-link-icon.active,
#login-dropdown:hover,
#login-dropdown.show {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.nav-link-icon .nav-link-text {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  transform: translateX(-10px);
  transition: all 0.5s ease;
}

.nav-link-icon:hover .nav-link-text {
  max-width: 200px;
  opacity: 1;
  transform: translateX(0);
}

.nav-dropdown {
  position: relative;
}

.navbar .dropdown-menu {
  display: block !important;
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  pointer-events: none;
  overflow: hidden; 
}

.navbar .dropdown.show .dropdown-menu {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

/* Footer */
.custom-footer {
  background-color: #3A5B4F !important;
  color: white;
  text-align: center;
}

/* Modal */
.custom-modal {
  height: 50vh;
}

.custom-modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

/* Auth */
.sign-out-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Landing page */
.landing-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  gap: 5rem;
}

/* Feature Cards */
.feature-card {
  width: 15rem;
  background-color: #3A5B4F;
  color: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.feature-icon-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.feature-icon-circle svg {
  width: 2.5rem;
  height: 2.5rem;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.feature-card:hover .feature-icon-circle {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.15);
}

/* Recipe Cards */
.recipe-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-description {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem; 
}

.recipe-card-time {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.recipe-card-time svg {
  margin-right: 0.25rem;
}

.recipe-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

/* Remove dropdown arrows */
#recipes-filter-dropdown::after,
#recipes-sort-dropdown::after,
#kitchen-filter-dropdown::after,
#login-dropdown::after,
#filter::after {
  display: none !important;
}

/* Border thickness for cards */
.custom-card-border {
  border-width: 3px;
}

/* Buttons */
.btn-success {
  background-color: #3A5B4F;
  border-color: #3A5B4F;
}

.btn-outline-success {
  color: #3A5B4F;           
  border-color: #3A5B4F;    
  background-color: transparent;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  color: white; 
  background-color: #3A5B4F; 
  border-color: #3A5B4F;
}

.btn-outline-success:disabled {
  color: #3A5B4F;
  border-color: #3A5B4F;
  opacity: 0.65;
  background-color: transparent;
}

.bg-success-custom {
  background-color: #3A5B4F !important;
}


.card-header {
  border-bottom: none;
}

.custom-nav-link .nav-link {
  color: #000000;
}

.custom-nav-link .nav-link:hover {
  color: #DDF3F0;
}

#nav-tabs-kitchen {
  background-color: #DDF3F0;
}

h1 {
  font-family: var(--font-lato), sans-serif;
}

h5 {
  font-family: var(--font-nunito-sans), sans-serif;
}

/* Shopping List Food Category classes color scheme */
.badge.category-produce {
  background-color: #9cde9e; 
  color: #0C5020;
}

.category-meat {
  background-color: #f7968f; 
  color: #7f4d49;
}

.category-frozen {
  background-color: #7ae0d8; 
  color: #305956;
}

.category-dairy {
  background-color: #c2a5ee; 
  color: #6631b5;
}

.category-other {
  background-color: #9e9e9e; 
  color: white;
}

.custom-modal{
  min-height: 61vh;
  max-height: 90vh;
}

.star-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.star-box {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.star-box-unfilled {
  background-color: #e9ecef;
  border: 1px solid #cfcfcf;
}

.star-box-filled {
  background-color: #3c5c50;
  border: 1px solid #3c5c50;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  width: 100px;
}

.dropdown-form {
  width: 250px;
}

.form-group {
  margin: 1rem;
}